*{
    margin: 0;
    padding: 0;
    
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-details-text{
    text-justify: left;
}
.event-name{
    display: flex;
    flex-direction: column;
    gap:8px;
margin-bottom: 20px;
}

.event-description{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

#event-description{
height: 55px;
}

.event-location{
    display: flex;
    flex-direction: column;
    gap:8px;
    margin-bottom: 20px;
}

.location-tips{
    display: flex;
    flex-direction: column;
    gap:8px;
    margin-bottom: 20px;
}

input[type="text"]{
    width:18em;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.179);
}

.event-det{
    display:block;
    background-color: #FAFCFC;
    justify-items: center;
}

.event-type{
    display: flex;
    flex-direction: column;
    
    margin-left: 2em;
    margin-right: 2em;
}
.basic-section{
    margin-bottom: 40px;
    margin-top: 30px;
    
}

#EventType{
    padding:10px;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    color:rgba(0, 0, 0, 0.199);
}

.event-date{
    margin-top: 24px;
}

.event-start{
    display: flex;
    flex-direction: column;
    gap:7px;
    margin-bottom: 5px;
    
}

input[type="date"]{
    width:18em;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.179);
}

.event-end{
    display: flex;
    flex-direction: column;
    gap:7px;
}

.socials{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #f3f3f3;
    border-radius: 6px;
    padding: 8px 12px;
    border: 1px solid #ddd;
}

.socials .icon{
    margin-right: 10px;
    border-right: 1px solid #ddd;
}

.socials .icon img{
    
  aspect-ratio: 1/1;
}

.socials input{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 14px;
    color: #666;
}

#cancel{
    padding: 10px;
    background-color: rgba(0, 255, 255, 0.493);
    border: 1px solid transparent;
    border-radius: 5px;
    width: 6em
}

#cancel:hover{
    cursor: pointer;
    background-color: red;
    border: none;
    transition: 500ms;
transition-timing-function: ease-in-out;

}

#continue{
    padding: 10px;
    background-color: white;
    border: 1px solid rgba(0, 255, 255, 0.493);
    border-radius: 5px;
width:6em
}

#continue:hover{
    cursor: pointer;
    background-color: rgba(0, 255, 255, 0.493);
    transition: 500ms;
transition-timing-function: ease-in-out;
}

.buttons{
    display: flex;
    gap: 10px
}